body{
    font-family: Arial, Helvetica, sans-serif;
}
#icon1{
    position: relative;
    z-index: 10;
}
#r001 {
    color: #666;
    position: relative;
    top: .8rem;
    opacity: 0;
    animation: .5s swift-up ease-out forwards, .5s fade-in ease-out forwards;
    animation-delay: .8s;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
#c001{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
html,body {
    margin: 0;
    padding:0;
    height: 100%;
  }
  footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10px;/*脚部的高度*/
      clear:both;
  }